.nav{
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
text-align: center;
    justify-content: space-between;

.header-list{
    display: flex;
    gap: 25px;
}

.header-a{
    color: var(--color-3, #EEE);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
 
.box{
    position: absolute;
    margin-top: 200px;
    width: 586px;
}

}

.border-bg{
    width: 1140px;
height: 1px;
background: rgba(238, 238, 238, 0.10);
}