.contact{
    height: 1024px;
    margin-top: 2750px;
  
  
    .back-img{
        position: absolute;
        margin-left: 760px;
    }
.card-1-img{
    width: 600px;
   margin-top: 180px;
   
.card-imgs{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    gap: 70px;
    position: absolute;
  
}
.card-2-img{
    width: 112.721px;
height: 169.886px;
margin-top: 380px;
transform: rotate(-190deg);
position: absolute;
}
.card-3-img{
    width: 255.369px;
    height: 348px;
    margin-top: 330px;
    margin-left: 70px;
    flex-shrink: 0;
    position: absolute;
}
.contact-card-2{
  
    margin-left: 750px;
    margin-top: 175px;
    width: 420px;

}
.contact-input{
gap: 20px;

border-radius: 26px;
align-items: flex-start;


}
.contact-input-2{
margin-left: 20px;
}
}
}